<div class="row mb-1">
    <div class="text-center col">
        <h1 class="h4 page-title">About</h1>
        <hr>
    </div>
</div>

<div class="row mb-4">
    <div class="col-md-4 ds-info">
		<div class="portrait">
			<span class="about-info photo-2" style="display: none;"><img class="img-fluid" alt="" src="./assets/params/images/about-02.jpg"></span>
			<span class="about-info photo-1" style=""><img class="img-fluid" alt="" src="./assets/params/images/about-01.jpg"></span>
		</div>
		<p class="name"><strong>Enzo Di Resta</strong><br>Analyste-programmeur indépendant</p>
		<p><i class="fas fa-phone"></i>&nbsp;&nbsp;079 665 51 34</p>
		<p><i class="fas fa-envelope"></i>&nbsp;&nbsp;<a title="Me contacter" href="mailto:info@drupal-solutions.ch">info [at] drupal-solutions.ch</a></p>
    </div>
    <div class="col-md-8">
        <h3>L'homme à tout faire (enfin presque)</h3>
        <p>
            <span class="dropcap">B</span>onjour!
            Je m'appelle Enzo Di Resta et je suis développeur (fullstack !?!?) drupal freelance diplômé de l'école supérieure
            d'informatique de gestion de Genève (<a href="http://edu.ge.ch/esig/" target="_blank" rel="noreferrer">ESIG<sup>GE</sup></a>).
            Avant d'être dans l'informatique, j'ai travaillé 6 ans comme employé de commerce dans la comptabilité,
            les assurances maladies, la gestion de stock et la planification.
        </p>
        <p>
            A la fin de mes études à l'ESIG<sup>GE</sup> en 1998, j'ai été engagé par Cross-Systems où j'ai passé plus
            de 2 ans comme développeur (Delphi, Visual Basic et VBA) spécialement dans le domaine bancaire et financier.
            Un petit détour de 2 ans dans la restauration m'a dirigé vers la formation d'adultes pendant 2 autres années
            avant de me faire rappeler à l'ordre par Cross-Systems fin 2006 où je suis resté plus de 5 ans. Là, j'ai pu
            élargir mes connaissances dans les domaine du contrôle aérien, de l'hôtellerie et de la domotique.
        </p>
        <p>
            Depuis 2007, je me suis spécialisé dans le développement de site web notamment avec
            <a href="http://www.adobe.com/fr/products/coldfusion-family.html" target="_blank" rel="noreferrer">Coldfusion</a>
            et <a href="http://wordpress.org/" target="_blank" rel="noreferrer">Wordpress</a>. A cette période, j'ai fait la
            découverte de Linux (<a href="http://www.ubuntu.com/" target="_blank" rel="noreferrer">Ubuntu</a> et
            <a href="http://www.kde.org/" target="_blank" rel="noreferrer">KDE</a>) ainsi que du CMS
            <a href="http://drupal.org/" target="_blank" rel="noreferrer">Drupal</a>
            dont je suis devenu un grand fan. Il est depuis lors mon outils favoris pour la création de site.
        </p>
        <p>
            <a href="./" target="_blank">AngularDev</a> est un projet d'autoformation dédié à l'apprentissage
            d'Angular 10, les PWA (Progressiv Web Application) et de Drupal Decoupled.
        </p>
        <p>
            Un grand <strong>MERCI</strong> à Danny (<a href="http://ganatan.com" target="_blank" rel="noreferrer">ganatan.com</a>) pour ses tutoriels
            qui m'ont permis de développer ce site.
        </p>
    </div>
</div>