// @import 'leaflet/dist/leaflet.css';
// @import "~leaflet/dist/leaflet.css";

/*
.map-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  // margin: 30px;
  width: 100%; // 600px;
}
*/

.map-frame {
    // border: 2px solid black;
    // height: 100%;
    width: 100%; // 600px;
    height: 400px;
    // margin: auto;
  }

  /*
  #map {
    height: 100%;
  }
  */
  .map {
    width: 100%;
    height: 100%;
  }

  #mapLeafletExample {
    /*margin-top:7rem;
    */
    width: 100%; // 600px;
    // height: 400px;
    height: 100%;
  }