<div class="row mb-1">
  <div class="col-md-12 text-center">
    <span class="" style="float:left;margin-top:4px;"><a routerLink="/"><i class="fas fa-2x fa-arrow-circle-left"></i></a></span>
    <h1 class="h2 page-title">Feature : Leaflet 2&nbsp;&nbsp;<i class="fas fa-chart-bar"></i></h1>
    <hr>
  </div>
</div>
<div class="pt-1 mb-4 text-center">
  <p class="lead">An open-source JavaScript library for mobile-friendly interactive maps</p>
</div>


<div class="row pt-4 mb-4 xxx-justify-content-center">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div class="row">
        <div class="container-fluid">
          <div class="map-container">
            <div class="map-frame">
              <div class="map" leaflet [leafletOptions]="options">
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>


  </div>