<header>
  <!-- <app-nav></app-nav> -->
  <nav class="navbar navbar-expand-md fixed-top navbar-dark" style="background-color: #212121;">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">
        <img class="logo" src="assets/params/images/logo.png" width="60" alt="">
        <span class="title mr-1">AngularDev</span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsMain" aria-controls="navbarsMain" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarsMain">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/">
              <i class="fas fa-home mr-1"></i>Home
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" routerLink="/about">
              <i class="far fa-question-circle mr-1"></i>About
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" routerLink="/contact">
              <i class="fas fa-envelope mr-1"></i>Contact
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" routerLink="/signin">
              <i class="fas fa-user mr-1"></i>Sign in
            </a>
          </li>
          <li class="nav-item active">
            <a target="_blank" rel="noreferrer" class="nav-link" href="https://github.com/drupix">
              <i class="fab fa-github mr-1"></i>Github
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<main role="main" class="flex-shrink-0">
  <div class="container-fluid">
    <!--<router-outlet></router-outlet>-->
    <div class="row">
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar mb-4 collapse">
        <div class="sidebar-sticky pt-3">
          <ul class="nav flex-column">
            <!-- Active item -->
            <!-- TODO:
            <li class="nav-item">
              <a class="nav-link active" href="#">
                <span data-feather="home"></span>
                Dashboard <span class="sr-only">(current)</span>
              </a>
            </li>
            -->
            <li *ngFor="let item of items" class="my-1 nav-item">
              <a class="nav-link font-weight-bold text-muted" data-toggle="collapse" href="#{{ item.link }}-collapse"
                role="button" aria-expanded="false" aria-current="true"
                aria-controls="{{ item.link }}-collapse">
                {{ item.name }}<i class="float-right fas fa-chevron-down"></i>
              </a>
              <div class="collapse" id="{{ item.link }}-collapse">
                <ul class="nav flex-column">
                  <li *ngFor="let element of item.elements">
                    <!--<a (click)="onSelectMenu(element.link)" class="nav-link">-->
                    <a routerLinkActive="active font-weight-bold" routerLink="/{{ element.link }}" class="nav-link">
                      {{ element.name }}
                    </a>
                  </li>
                </ul>
              </div>
              <hr>
            </li>
          </ul>
        </div>
      </nav>

      <div class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
        <router-outlet></router-outlet>
      </div>
    </div>

  </div>
</main>

<footer class="footer mt-auto py-3">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p class="text-center text-white">&copy; 2020 - <a target="_blank" rel="noreferrer" href="http://drupal-solutions.ch">drupal-solutions.ch</a>
          <br/>
          With a big help from <a target="_blank" rel="noreferrer" href="http://ganatan.com">ganatan.com</a>
        </p>
      </div>
    </div>
  </div>
</footer>
