<div class="row mb-1">
  <div class="col-md-12 text-center">
    <span class="" style="float:left;margin-top:4px;"><a routerLink="/"><i class="fas fa-2x fa-chevron-circle-left"></i></a></span>
    <h1 class="h2 page-title">Typescript&nbsp;&nbsp;<i class="fab fa-js"></i></h1>
    <hr>
  </div>
</div>

<div class="row pt-4 mb-2">
  <div class="row justify-content-center">
    <div *ngFor="let item of items"
      class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-2 text-center">
      <div class="card bg-light mb-3">
        <a routerLink="/{{ item.link }}">
          <div class="card-header">
            <div class="row">
              <div class="col-10 col-xl-10">
                <h5 class="card-title">{{ item.name }}</h5>
              </div>
              <div class="col-2 col-xl-2">
                <i class="fab fa-bootstrap fa-lg text-primary"></i>
              </div>
            </div>
          </div>
        </a>
        <div class="card-body">
          <p class="card-text">Description {{ item.name }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
